@model Students.Models.Student

@{
    ViewBag.Title = "Create";
}

<h2>Please enter details of student to be Created</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="FirstName">Name</label>
        <input name="FirstName" type="text" class="form-control" placeholder="Student First Name">
    </div>
    <div class="form-group">
        <label for="LastName">Name</label>
        <input name="LastName" type="text" class="form-control" placeholder="Student Last Name">
    </div>
    <div class="form-group">
        <label for="Gender">Description</label>
        <input name="Gender" type="text" class="form-control" placeholder="Student Gender">
    </div>
    <div class="form-group">
        <label for="Age">Description</label>
        <input name="Age" type="text" class="form-control" placeholder="Student Age">
    </div>
    <p>
        <button type="submit" class="btn btn-primary btn-lg" value="Create">Submit Student</button>
    </p>

}




