@model System.Collections.Generic.List<Students.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>List of Students</h2>
   @foreach (var item in Model)
   {
       @Html.DisplayFor(modelItem => item)
    }
<br/>
<br/>
<br/>
<p>
    <button type="submit" class="btn btn-danger btn-lg" value="Create">@Html.ActionLink("Create New Student", "Create")</button>
</p>