@model System.Collections.Generic.List<Students.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>List of Students</h2>
   @foreach (var item in Model)
   {
       @Html.DisplayFor(modelItem => item)
    }

<p>
    @Html.ActionLink("Create New Student", "Create")
</p>`